<%- include("partials/header.ejs") %> 
<%- include("partials/nav.ejs") %> 
<!-- end header end -->        
<!--banner start -->
<div class="banner-main">
    <div class="container">
       <div id="main_slider" class="carousel slide" data-ride="carousel">  
       <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="titlepage-h1">
            <h1 class="bnner_title">Welcome To<br>
            <span style="color: #10b5fa">Content Writing Services</span></h1>
            <p class="long_text">It is a long established fact that a reader will be distracted by the readable content of a page. Join us today.</p>
            </div>
            <div class="btn_main">
            <button type="button" class="btn btn-dark btn-lg">
                <a href="/signup">Sign up</a>
            </button>
        </div>
    </div>
<div class="carousel-item">
        <div class="titlepage-h1">
           <h1 class="bnner_title">Welcome To<br>
           <span style="color: #10b5fa">Content Writing Services</span></h1>
           <p class="long_text">“Reading… a vacation for the mind… ” – Dave Barry. Log in to experience this.</p>
        </div>
        <div class="btn_main">
            <a href="/login" class="btn btn-dark btn-lg">Log in</a>
        </div>
</div>
<div class="carousel-item">
        <div class="titlepage-h1">
           <h1 class="bnner_title">Welcome To<br>
           <span style="color: #10b5fa">Content Writing Services</span></h1>
           <p class="long_text">For advertisement and sponsorship please, contact us. </p>
        </div>
        <div class="btn_main">
            <a href="/contact" class="btn btn-dark btn-lg">Contact</a>
        </div>
</div>
</div> 
     <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
    <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-right"></i>
        </a>
</div>
</div>
</div>
<!--banner end -->
<!--services start -->
<div class="services_main">
    <div class="container">
        <div class="creative_taital">
            <h1 class="creative_text">Creative Content Writing Services</h1>
            <p style="color: #050000; text-align: center;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infanc</p>
            <div class="btn_main">
                <a href="/login" class="btn btn-dark btn-lg">Get started</a>
            </div>
        </div>
            <div class="section_service_2">
                <h1 class="service_text">Our Service</h1>
            </div>
            <div class="service_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="images/like-icon.png"></div>
                                <h1 class="written_text">Written with Love</h1>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="images/fast-forword-icon.png"></div>
                                <h1 class="written_text">Fast Turnaround</h1>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="images/design-icon.png"></div>
                                <h1 class="written_text">Up to Date</h1>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="written_text">
                              <div class="like_icon"><img src="images/writing-icon.png"></div>
                                <h1 class="written_text">Premium Content</h1>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>	  
</div>
<!--services end -->

<!--quote_section start -->
<div class="quote_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="quote_text">Quote for Today</h1>
                <p class="loan_text">It is a long established fact that a reader will be distracted by the readable content of a page </p>
            </div>
            <div class="col-md-6">
                <div class="quote_btn">
                    <button type="button" class="btn btn-dark btn-lg">Get A Quote</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--quote_section end -->
<!--touch_section start -->

<div class="touch_section">
    <div class="container">
        <h1 class="touch_text">Let's Get In Touch!</h1>
    </div>
</div>

<div class="lets_touch_main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input_main">
                    <div class="container">
                        <%- include("partials/contact-form.ejs") %> 
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12">
                        <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--touch_section end -->
<%- include("partials/footer.ejs") %> 